/* Centers items that aren't bulleted */
.reveal p {
    color: #ffa64d; /* lighter orange than default */
    text-align: center;
}

/* Bulleted items */
.reveal ul {
    color: #ffa64d;
    text-align: left;
}

/* HEADERS */

.reveal h1 {
    font-size: 1.5em; }

.reveal h2 {
    font-size: 1.5em; }

.reveal h3 {
    font-size: 1.5em; }

.reveal h4 {
    font-size: 1.5em; }

/* TABLES */
/*
.reveal th {
    text-align: left;
    font-weight: bold;
    color: orange;
}

.reveal td {
    font-size: 0.75em;
}

.reveal table {
    border-bottom: 5px;
}
*/
.reveal th {
    font-weight: bold;
    color: #ffa64d;
    text-align: center;
    padding: 0.1em 0.5em 0.1em 0.5em; /*top right bottom left */
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid;
    border-left: 1px solid transparent;
}

.reveal td {
    text-align: left;
    padding: 0.1em 0.5em 0.1em 0.5em; /*top right bottom left */
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-size: 0.75em;
    width: 400px;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-bottom: 1px solid;
    border-spacing: 0;
}
